{% extends './base.html' %}

{% block content %}
<div class="container">
    <div class="row" style="padding: 30px 0; text-align: center; min-height: 100vh; display: flex">
    <div class="col s12 m6">
      <div class="card blue darken-1" style="height: 80vh; display: flex; align-items: center; justify-content: center; flex-direction: column; flex-wrap: nowrap;">
        <div class="card-content white-text">
          <span class="card-title">Manage your car!</span>
          <p>Add your car and control him with creating logs & histories. Free app, for fair users.</p>
        </div>
        <div class="card-action">
          {% if not user.is_authenticated %}
          <a href="{% url 'login_view' %}" class="waves-effect waves-light orange btn-small">Login</a>
          <a href="{% url 'register' %}" class="waves-effect waves-light orange btn-small">Sign Up</a>
          {% else %}
          <a href="{% url 'user_cars_page' %}" class="waves-effect waves-light orange btn-small">Start</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}